<h1>Portfolio Items</h1>
<% @portfolios.each do |item| %>
<p><%= item.title %></p>
<p><%= item.subtitle %></p>
<p><%= item.body %></p>
<img src = <%= item.thumb_image %>>
<%= image_tag item.thumb_image %>

<% end %>
